<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./unit_tests/php</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="DIR_BASE" value="webui/" />
        <env name="TEST_FILES_DIR" value="test_files/" />
    </php>
</phpunit>
