services:
  mysql:
    image: mariadb:11.1.2
    container_name: mysql
    restart: unless-stopped
    cap_drop:
      - ALL
    cap_add:
      - dac_override
      - setuid
      - setgid
    environment:
      - MYSQL_DATABASE=piler
      - MYSQL_USER=piler
      - MYSQL_PASSWORD=piler123
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    volumes:
      - db_data:/var/lib/mysql
  piler:
    image: sutoj/piler:1.4.5
    container_name: piler
    init: true
    environment:
      - MYSQL_HOSTNAME=mysql
      - MYSQL_DATABASE=piler
      - MYSQL_USER=piler
      - MYSQL_PASSWORD=piler123
      - PILER_HOSTNAME=cust1.acts.hu
      - RT=1
    ports:
      - "25:25"
      - "80:80"
    volumes:
      - piler_etc:/etc/piler
      - piler_manticore:/var/piler/manticore
      - piler_store:/var/piler/store
    healthcheck:
      test: curl -s smtp://localhost/
      interval: "20s"
      timeout: "3s"
      start_period: "15s"
      retries: 3
    deploy:
      resources:
        reservations:
          memory: 512M
        limits:
          memory: 512M

    depends_on:
      - "mysql"

volumes:
  db_data: {}
  piler_etc: {}
  piler_manticore: {}
  piler_store: {}
