
@media screen {

        a { color: #850505; text-decoration: none; }

        p { margin: 0 0 10px 0; }

	.loginfailed { color: red; font: normal 19px Arial, sans-serif; }


	body { background-color: #6D6D6D; margin: 0 auto; padding: 15px 0; text-align: center; font: normal 12px Arial, sans-serif; color: #3d3d3d; }

	#piler1 { width: 1200px; min-height: 830px; background: #ffffff; border: 3px solid black; position: relative; margin-left: auto; margin-right: auto; height: auto; }

	#messagebox1 { position: absolute; top: 0px; left: 50%; border: 3px solid red; display: none; background: orange; color: #000000; font-weight: bold; padding: 15px; z-index: 1; }
	#searchpopup1 { position: absolute; top: 25px; left: 0px; border: 1px solid #999999; display: none; background: #f8f8f8; color: #000000; font-weight: bold; padding: 15px; z-index: 1; }
        #popupx { position: absolute; right: 10px; top: 5px; margin: 10px; }

	#wrap { position: relative; margin: 0 auto; padding: 0; width: 1270px; background-color: white; border: 3px solid black; text-align: left; }
	#wrapemail { margin-left: 20px; background-color: white; width:200px; height: 300px; }
        .email { background-color: white; }

	#menu { display: table; margin: 0px 10px 15px 20px; padding: 10px 0 0px 0px; width: 1160px; border-bottom: 1px solid gray; }
	#menu .leftcell { display: table-cell; width: 490px; text-align: justify; }
	#menu .rightcell { display: table-cell; width: 490px; text-align: right; font: normal 12px Arial, sans-serif; margin: 0; padding: 0; }
	#menu .logout22 { float: right; text-align: right; }
	#menu .logout22_admin { float: right; text-align: right; font: normal 11px Arial, sans-serif; }
	#menu a:link.logout, a:visited.logout { color: #222; }
	#menu a:hover.logout { background: #F3D673; }

        #menu ul { list-style: none; margin: 0; padding: 0; }
        #menu li { background-image: none; font: normal 12px Arial, sans-serif; }
        #menu a:hover, #menu a:active { color: #850505; }
        #menu #active { color: #850505; font-weight: bold; }


	/*#main { margin: 0px 40px 20px 40px; width: 990px; float: left; clear: both; }*/
        #main { margin: 0px 40px 20px 40px; width: 1160px; text-align: left; float: left; clear: both; }

	.aoo { cursor: pointer; position: absolute; left: 520px; top: 0px; width: 10px; margin-left: -5px; }
	.aoq { height: 4px; padding: 11px 5px; width: 7px; background: url("/view/theme/default/images/dark-grey-disclosure-arrow-down.png") no-repeat scroll center center transparent; }

	#expertsearchOBSOLETED { position: absolute; border: 1px solid black; right: 20px; left: 20px; text-align: right; }
	#expertsearch2 { position: absolute; border: 1px solid black; right: 20px; left: 20px; text-align: left; }
	#expertsearch { position: absolute; border: 0px solid black; right: 20px; left: 20px; text-align: left; font: normal 19px Arial, sans-serif; }

	#resultsheader { display: none; }
	#resultstop { position: absolute; width: 1160px; border: 1px solid #999; top: 80px; right: 20px; left: 20px; text-align: right; display: table; }

	#footer { clear: both; text-align: left; margin: 0; padding: 0 36px; }

	#A1 { text-align: right; }

        h3 { margin: 0; padding: 10px 0 10px 0; font: bold 19px Arial, sans-serif; color: #850505; }
        h4 { margin: 0; padding: 0px 0 0px 0; font: bold 12px Arial, sans-serif; color: #000000; }

	form { padding-top: 0px; margin: 0px; }
	.formbottom { margin-bottom: 30px; }

        input#date1,input#date2{background-image:url(../images/calendar.png);background-position:right center;background-repeat:no-repeat;color:#000;font: bold 12px Arial, sans-serif;text-align:left;text-indent:6px;width:199px;cursor:pointer;height:15px;}

        input#savedsearch{background-image:url(../images/search.png);background-position:right center;background-repeat:no-repeat;color:#000;font: bold 12px Arial, sans-serif;text-align:left;text-indent:6px;width:400px;height:15px; }


	#search { float: left; width: 990px; margin-top: 5px; margin-bottom: 20px; }

	#search1 { float: left; width: 490px; margin: 0; border: 0px solid green; }

	#search2 { float: right; width: 490px; margin: 0; text-align: right; border: 0px solid green; }

	#ss1 { display: table; border-collapse: collapse; margin: 0; padding: 0; margin-top: 10px; clear: both; }

	#resultscontainer { float: left; width: 990px; padding: 0; padding-bottom: 5px; height: auto; margin-top: 0px; margin-bottom: 0px; border-top: 3px solid black; border-bottom: 3px solid black; overflow:auto; }
	#resultscontainer.empty { border-bottom: 0px solid black; height: auto; overflow:auto; width: 990px; }

	#results { float: left; width: 1160px; margin-top: 0px; margin-bottom: 0px; border-collapse: collapse; display: table; clear: both; }

        #mailrightcontainernofolder { left: 0px; }

	#mailpreviewframe { text-align: left; overflow:auto; }

	#auditresultscontainer { float: left; width: 1180px; padding: 0; margin: 0; border-top: 0px solid black; border-bottom: 0px solid black; height: 580px; overflow: auto; }
	#auditresultscontainer.empty { border-bottom: 0px solid black; height: 580px; }

	#download_icon { margin: 0px 0 -2px 0; border: 0px solid black; }

	#sspinner { position: absolute; top: 62px; right: 503px; border: 0px solid #999999; color: #000000; font-weight: bold; padding: 15px; z-index: 1; display: none; margin: auto; margin-top: 100px; }

	#spinner_restore { border: 0px solid red; margin-top: 60px; }
	.restore_spinner { text-align: center; border: 0px solid black; }

	.text { font: normal 12px Arial, sans-serif; font-weight: bold; text-align:left; width: 408px; }
	.autocompletetext { font: normal 12px Arial, sans-serif; font-style: italic; color: gray; font-weight: bold; text-align:left; width: 408px; }
	.ruletext { font: normal 12px Arial, sans-serif; font-weight: bold; text-align:left; width: 365px; }
	.advtextOBSLETED { font: bold 12px Arial, sans-serif; font-weight: bold; text-align:left; width: 280px; }
	.advtext { font: bold 12px Arial, sans-serif; font-weight: bold; text-align:left; width: 528px; margin: 0px; }
	.tagtext { font: normal 10px Arial, sans-serif; font-weight: bold; text-align:left; width: 265px; }
	.advtextgreyOBSOLETED { font: bold 12px Arial, sans-serif; color: #999; font-weight: bold; text-align:left; width: 280px; }
	.advtextgrey2 { font: bold 12px Arial, sans-serif; color: #999; font-weight: bold; text-align:left; width: 528px;margin: 0px; }
	.advtextgrey { font: bold 19px Arial, sans-serif; color: #999; font-weight: bold; text-align:left; width: 528px; margin: 0px; }
	.textregular { font: normal 12px Arial, sans-serif; font-weight: bold; text-align:left; }

	.row { display: table-row; }
	.row.savedsearch { display: table-row; text-align: right; }
	.resultrow { display: table-row; height: 18px; font-style: italic; }
	.resultrow a { color: #3d3d3d; }
	.resultrow.odd { background: #f5f5f5; }
	.resultrow.new { font-style: normal; }
	.resultrow.new a { color: #850505; }
	.resultrow.selected { border: 2px solid black; }
	.resultrow.spam { color: #aaa; }

	.resultcell { display: table-cell; text-align: left; vertical-align:middle; }
	.resultcell.restore { width: 15px; }
	.resultcell.id { width: 55px; text-align: center; }
	.resultcell.date { width: 85px; }
	.resultcell.from { width: 235px; }
	.resultcell.to { width: 240px; }
	.resultcell.subject { width: 360px; }
	.resultcell.size { width: 100px; }
	.resultcell.end { width: 20px; }
	.resultcell.verification { text-align: right; padding-right: 0px; width: 18px; }
	.resultcell.header { height: 30px; font: bold 12px Arial, sans-serif; color: black; }

	.cell1 { display: table-cell; height: 25px; text-align: left; padding: 3px; font: bold 12px Arial, sans-serif; width: 80px; }
	.cell1s { display: table-cell; height: 25px; text-align: left; padding: 3px; font: bold 12px Arial, sans-serif; width: 85px; border: 1px solid red; }
	/*.cell1q { display: table-cell; height: 25px; text-align: center; padding: 3px; font: bold 12px Arial, sans-serif; width: 50px; border: 1px solid red; }
	.cell1r { display: table-cell; height: 25px; text-align: left; padding: 0px; font: bold 12px Arial, sans-serif; width: 15px; vertical-align:middle; border: 1px solid red; }*/
	.cell3 { display: table-cell; height: 25px; text-align: left; padding: 0px; padding-top: 3px; font: bold 19px Arial, sans-serif; }

	.cell2 { display: table-cell; width: 410px; height: 15px; }
        .left { text-align: left; }
	.100px { width: 100px; }
	.top20px { margin-top: 20px; }
	.listarea { overflow:auto; height: 500px; }

	.auditcell { margin: 0; display: table-cell; text-align: left; vertical-align:middle; font-style: normal; border: 0px solid red; }
	.auditcell.date { width: 120px; }
	.auditcell.user { width: 120px; }
	.auditcell.action { width: 100px; }
	.auditcell.ip { width: 75px; }
	.auditcell.description { width: 325px; }
	.auditcell.ref { width: 90px; }
	.auditcell.header { height: 30px; font: bold 12px Arial, sans-serif; color: black; }

	.cellaudit { display: table-cell; height: 14px; text-align: left; font: normal 12px Arial, sans-serif; padding: 0; margin: 0; vertical-align: middle;}
	.cellaudit.date { width: 120px; }
	.cellaudit.title { font: bold 12px Arial, sans-serif;}

        #health1 { display: table-cell; margin-top: 10px; margin-bottom: 0; }
        #health2 { display: table-cell; text-align: right; }

	.cellhealthleft { display: table-cell; height: 25px; text-align: left; padding: 3px; font: bold 12px Arial, sans-serif; }
	.cellhealthright { display: table-cell; height: 25px; text-align: left; padding: 3px; font: normal 12px Arial, sans-serif; }

	#health1 .ok { color: green; font-weight: bold; }
	#health1 .error { color: red; font-weight: bold; }

	#pagenav { float: left; margin-top: 0px; margin-bottom: 0px; text-align: left; width: 990px; border: 0px solid red; }
	.navrow { display: table-row; }
	.navlink { color: #bbb; font: bold 12px Arial, sans-serif; }
	#pagenav a.navlink { color: #850505; font: bold 12px Arial, sans-serif; }

        #pagingleft { display: table-cell; float: left; text-align: left; width: 60px;  border: 0px solid red; }
        #pagingcenter { display: table-cell; float: left; text-align: center; width: 145px; border: 0px solid red; }
        #pagingright { display: table-cell; float: left; text-align: right; width: 60px; border: 0px solid red; }
        #tagbox { display: table-cell; float: left; text-align: right; vertical-align: top; width: 725px; border: 0px solid red; }

	.messagelink { border-bottom: 1px solid gray; color: #850505; }
	.messagelink.spam { border-bottom: 1px solid gray; color: #aaa; }
	#results a:hover { border-bottom: 1px solid gray; color: black; }

	.advselect { width: 80px; font: bold 12px Arial, sans-serif; padding: 0; margin:0;}
	.advselect2 { width: 205px; font: bold 12px Arial, sans-serif; padding: 0; margin:0;}
	.ruleselect { width: 40px; font: bold 12px Arial, sans-serif; padding: 0; margin:0;}

        .restore_to_mailbox { font: normal 12px Arial, sans-serif; color: #850505; padding: 0; margin:0; height: 18px; border: 0px; background: #eee; vertical-align: middle; }

	button { margin: 0; background-color:gray; font: bold 12px Arial, sans-serif; width:40%; height: 40px; margin-left: 5%; margin-right: 5%; }
	button.active { background-color: #850505; color:white; }

	#button_search { margin-left: 10px; margin-right: 0px; height: 20px; width: 70px; }
	#button_search.popup { height: 40px; width: 100px; margin: 0px; }

	.advbutton { margin: 0; background-color: #850505; color: white; font: bold 12px Arial, sans-serif; height: 40px; }

	input[type=button].secondary { margin: 0; background-color:#eee; color: gray; font: bold 12px Arial, sans-serif; width: 24%;}
	input[type=button].advsecondary { margin: 0; background-color:#eee; color: gray; font: bold 12px Arial, sans-serif; height: 20px; width: 70px; }
	input[type=button].advsecondary_complex { margin: 0; background-color:#eee; color: gray; font: bold 12px Arial, sans-serif; width: 70px; }
	input[type=button].load { margin: 0; background-color:#eee; color: black; font: bold 12px Arial, sans-serif; width: 17%;}

	input[type=button].short { margin: 0; background-color:#eee; color: gray; font: bold 12px Arial, sans-serif; width: 50px;}
	input[type=button].tag { margin: 0; background-color:#eee; color: gray; font: normal 10px Arial, sans-serif; }
	input[type=button].restore { margin: 0; background-color:yellow; color: black; font: normal 10px Arial, sans-serif; }
	input[type=button].restore_to_mailbox_button { margin: 0; background-color:#eee; color: black; font: bold 12px Arial, sans-serif; }

	input[type=textarea] { height:80px; }

	input[type=checkbox].attachmenttype { margin: 0; vertical-align: middle; }
	input[type=checkbox].restorebox { margin: 0; vertical-align: middle; }
	input[type=checkbox].popup { margin: 0; vertical-align: middle; }

	#messagepopup { margin: 10px 20px 10px 20px; padding: 0; background-color: white; text-align: left; }
	#restorebox { position: absolute; top: 20px; left: 15%; border: 3px solid red; display: none; background: orange; color: #000000; font-weight: bold; padding: 15px; z-index: 1; }

	.message_button { vertical-align: middle; font: bold 11px Arial, sans-serif; height:16px; padding:0; margin:0; }:
	#note { width: 500px; padding: 0; margin: 0px; color: #000000; }
	.mynote { height: 10px; font: 9px Arial, sans-serif; }

	.domainrow { display: table-row; border: 2px solid gray; padding: 10px; }
	.domaincell { display: table-cell; font: bold 12px Arial, sans-serif; border: 1px solid gray; padding: 5px; vertical-align: top; }
	.logincell { display: table-cell; font: bold 12px Arial, sans-serif; padding: 5px; vertical-align: top; }
	.domain { font: normal 12px Arial, sans-serif; font-weight: bold; text-align:left; width: 408px;}

	p.error { margin-bottom: 20px; color: red; font-weight: bold; }

	#dhtmltooltip { position: absolute; width: 150px; border: 2px solid black; padding: 2px; background-color: yellow; color: #ffffff; visibility: hidden; z-index: 100; }

	.extra_folder { color: #850505; font-weight: bold; border: none; width: 70%; background: transparent; }

	.bold { font-weight: bold; }

	/*
         * dropdown menu
         */

	.mcell { display: table-cell; vertical-align: top; width: 350px; border: 0px solid red; z-index: 3; }

	ul.dropdown                         { position: relative; }
	ul.dropdown li                      { font-weight: bold; float: left; background: #ffffff; text-align: center; padding-right: 40px; padding-left: 40px; border: 0px solid red; }
	/*ul.dropdown li.first_li             { font-weight: bold; float: left; background: #ffffff; text-align: left; padding-left:80px; padding-right: 5px; }*/
	ul.dropdown li.search_li            { font-weight: bold; float: left; background: #ffffff; text-align: center; padding: 0; padding-right: 0px; font: 11px normal Arial, sans-serif; z-index: 5;}
	/*ul.dropdown li.no_search_li         { font-weight: bold; float: left; background: #ffffff; text-align: center; padding: 0; padding-right: 0px; }*/
	/*ul.dropdown li.center_li            { font-weight: bold; float: left; background: #ffffff; text-align: center; padding: 0; width: 190px; }*/
	ul.dropdown li.last_li              { font-weight: bold; float: left; background: #ffffff; text-align: right; padding: 0; text-align: left; font: 11px normal Arial, sans-serif; }

	/*ul.dropdown li.admin                { font-weight: bold; float: left; background: #ffffff; padding-right: 5px; padding-left: 2px; }
	ul.dropdown li.first_li_admin       { background: #ffffff; text-align: left; margin-left: 90px; padding-left: 0px; padding-right: 5px; }
	ul.dropdown li.last_li_admin        { background: #ffffff; text-align: right; padding: 0; }*/

	ul.dropdown li.logout               { font-weight: bold; float: right; background: #ffffff; width: 100px; text-align: right; }

	ul.dropdown a:hover                 { color: #000; }
	ul.dropdown a:active                { color: #ffa500; }
	ul.dropdown li a                    { padding: 0; color: #222; border-bottom: none; }
	ul.dropdown li.hover,
	ul.dropdown li:hover                { background: #F3D673; color: black; position: relative; }
	/*ul.dropdown li.no_search_li:hover   { background: #ffffff; color: black; position: relative; }*/
	ul.dropdown li.hover a              { color: black; }

	ul.dropdown ul                      { width: 150px; text-align: left; visibility: hidden; position: absolute; top: 100%; left: 0; }
	ul.dropdown ul li                   { text-align: left; font-weight: normal; background: #f6f6f6; color: #000; border-bottom: 1px solid #ccc; float: none; paddin-left: 3px; }

	ul.sub_menu li                      { padding-left: 10px; padding-right: 10px; width: 140px; }

	ul.dropdown ul li a                 { border-right: none; font: 11px normal Arial, sans-serif; width: 100%; display: inline-block; text-align: left; }

}


