[Unit]
Description=Searchd for piler daemon
After=network.target mariadb.service

[Service]
ExecStart=/usr/bin/searchd --config /etc/piler/manticore.conf
ExecStop=/usr/bin/searchd --config /etc/piler/manticore.conf --stopwait
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/run/piler/searchd.pid
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=forking
User=piler
RuntimeDirectory=piler

[Install]
WantedBy=multi-user.target
Alias=pilersearch.service
