Source: piler
Maintainer: Janos SUTO <sj@acts.hu>
Section: misc
Priority: optional
Standards-Version: 0.1.25
Build-Depends: debhelper (>= 8), unrtf, catdoc, tnef, poppler-utils, libwrap0, libtre5, libzip2

Package: piler
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: email archiving
 piler open source email archiver
