#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --build=x86_64-linux-gnu --prefix=/usr/local --sysconfdir=/usr/local/etc --libexecdir=/usr/local/libexec --localstatedir=/var --infodir=/usr/local/share/info --with-database=mysql --enable-starttls --enable-tcpwrappers

override_dh_auto_install:
	$(MAKE) DESTDIR=$$(pwd)/debian/piler prefix=/usr/local install

override_dh_usrlocal:


