
@media screen {

        a { color: #0072e6; text-decoration: none; }

        p { margin: 0 0 10px 0; font-family: "Trebuchet MS", Arial, Verdana; }


	.mybody { background-color: #6D6D6D; color: #3d3d3d; font-family: "Trebuchet MS", Arial, Verdana; }
	.loginpage {background-color: #fcfcfc; padding-top: 40px; padding-bottom: 40px; font-family: "Trebuchet MS", Arial, Verdana; }

	#logo-lg {width: 300px; margin: 0 auto 20px;}
	#compatibility { max-width: 300px; margin:0 auto; color:#444; text-align: justify; }
	.form-signin{ max-width:300px; padding:19px 29px 29px; margin:0 auto 20px; background-color:#fff; border:1px solid #e5e5e5; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05); box-shadow:0 1px 2px rgba(0, 0, 0, 0.05); }
	.form-signin .form-signin-heading,.form-signin .checkbox{ margin-bottom: 10px; font-family: "Trebuchet MS", Arial, Verdana; }
	.form-signin input[type="text"], .form-signin input[type="password"]{ font-family: "Trebuchet MS", Arial, Verdana; font-size:16px; height:auto; margin-bottom:15px; padding:7px 9px; }

	#piler1 { width: 100%; height: 100%; background: #ffffff; border: 0px solid black; position: absolute; margin-left: auto; margin-right: auto; padding-top: 0px; }

	#messagebox1 { position: absolute; top: 200px; left: 30%; right: 30%; text-align: center; border: 0px solid red; display: none; background: #82caff; color: #ffffff; font-weight: bold; padding: 15px; z-index: 1; }
	#searchpopup1 { position: absolute; top: 30px; left: 0px; border: 1px solid #999999; display: none; background: #f8f8f8; color: #000000; font-weight: bold; padding: 15px; z-index: 1; }
        #popupx { position: absolute; right: 10px; top: 5px; margin: 10px; }

        #advsearch_caret { position: absolute; top: 15px; margin-left: -20px; margin-right: 20px; }

	#wrapemail { margin-left: 20px; background-color: white; width:200px; height: 300px; }
        .email { background-color: white; }

	#menu { height: 40px; border: 0px solid red; }
	#menu a:hover, #menu a:active { color: #fff; }

        #main { margin: 0px 40px 20px 40px; width: 100%; text-align: left; float: left; clear: both; }

	#expertsearch { position: absolute; border: 0px solid black; right: 20px; left: 20px; text-align: left; font-family: normal 19px "Trebuchet MS", Arial, Verdana; margin-top: 18px; }

	#resultsheader { display: none; }
	#resultstop { position: absolute; width: 1140px; border: 0px solid #999; top: 120px; right: 20px; left: 20px; text-align: right; display: table; padding-right: 0px; margin-right: 20px; }

	#footer { clear: both; text-align: left; margin: 0; padding: 0 36px; }

	#A1 { text-align: right; }

        h3.title { color: #0072e6; }
        h4 { font-family: "Trebuchet MS", Arial, Verdana; }

	.formbottom { margin-bottom: 30px; }

	input#date1,input#date2{background-image:url(../images/calendar.png);background-position:right center;background-repeat:no-repeat;color:#000; text-align:left; text-indent:6px; cursor:pointer; }

	.piler-right-margin { margin-right: 30px; }


	#search { float: left; width: 990px; margin-top: 5px; margin-bottom: 20px; }

	#search1 { float: left; width: 490px; margin: 0; border: 0px solid green; }

	#ss1 { display: table; border-collapse: collapse; margin: 0; padding: 0; margin-top: 10px; clear: both; }

	#results { float: left; width: 100%; margin-top: 0px; margin-bottom: 0px; border-collapse: collapse; display: table; clear: both; }

	#results th { font-size:14px; }

	#mailpreviewframe { text-align: left; overflow:auto; }

	#sspinner { position: relative; width: 60%; border: 0px solid #999999; color: #000000; font-weight: bold; vertical-align: middle; text-align: left; padding: 15px; z-index: 1; display: none; margin: auto; margin-top: 150px; }

	table { resize:both; }

	.row { display: table-row; }
	.row.savedsearch { display: table-row; text-align: right; }
	.resultrow { display: table-row; height: 18px; font-style: italic; font-size:12px; font-family: "Trebuchet MS", Arial, Verdana; }
	.resultrow a { color: #3d3d3d; }
	.resultrow.odd { background: #f5f5f5; }
	.resultrow.new { font-style: normal; }
	.resultrow.new a { color: #0072e6; }
	.resultrow.center a { color: #0072e6; }
	.resultrow.new a.spam { color: #aaa; }
	.resultrow.selected { border: 2px solid black; background-color:#ffffdd; }
	.resultrow.spam { color: #aaa; }
	.resultrow.sent { background: lightblue; }

	.tcell { display: table-cell; font-family: "Trebuchet MS", Arial, Verdana; }

	.cell1 { display: table-cell; height: 25px; text-align: left; padding: 3px; font-family: bold 14px "Trebuchet MS", Arial, Verdana; width: 80px; }

	.cell2 { display: table-cell; width: 410px; height: 15px; }
	.top20px { margin-top: 20px; }
	.listarea { overflow:auto; height: 500px; }

	.auditcell { margin: 0; display: table-cell; text-align: left; vertical-align:middle; font-style: normal; border: 0px solid red; }
	.auditcell.date { width: 120px; }
	.auditcell.user { width: 120px; }
	.auditcell.action { width: 100px; }
	.auditcell.ip { width: 75px; }
	.auditcell.description { width: 325px; }
	.auditcell.ref { width: 90px; }
	.auditcell.header { height: 30px; font-family: bold 14px "Trebuchet MS", Arial, Verdana; color: black; }

	a.auditlink { color: #0072e6; }
	.menulink { color: #0072e6; }

        #health1 { display: table-cell; margin-top: 10px; margin-bottom: 0; }
        #health2 { display: table-cell; text-align: right; }

	.cellhealthleft { display: table-cell; height: 25px; text-align: left; padding: 3px; font-family: "Trebuchet MS", Arial, Verdana; }
	.cellhealthright { display: table-cell; height: 25px; text-align: left; padding: 3px; font-family: "Trebuchet MS", Arial, Verdana; }

	#pagenav { float: left; margin-top: 0px; margin-bottom: 0px; text-align: left; width: 990px; border: 0px solid red; }
	.navrow { display: table-row; }
	.navlink { color: #bbb; font-family: bold 14px "Trebuchet MS", Arial, Verdana; }
	#pagenav a.navlink { color: #0072e6; font-family: bold 14px "Trebuchet MS", Arial, Verdana; }

        #pagingleft { display: table-cell; float: left; text-align: left; width: 60px;  border: 0px solid red; }
        #pagingcenter { display: table-cell; float: left; text-align: center; width: 145px; border: 0px solid red; }
        #pagingright { display: table-cell; float: left; text-align: right; width: 60px; border: 0px solid red; }

	.messagelink { border-bottom: 1px solid gray; color: #0072e6; }
	.messagelink.spam { border-bottom: 1px solid gray; color: #aaa; }
	#results a:hover { color: black; }


	input[type=textarea] { height:80px; }

	input[type=checkbox].restorebox { margin: 0; vertical-align: middle; }
	input[type=checkbox].popup { margin: 0; vertical-align: middle; }
	input[type=text] { font-family: "Trebuchet MS", Arial, Verdana; font-weight: bold; }
	select { font-family: "Trebuchet MS", Arial, Verdana; }

	#messagepopup { margin: 10px 20px 10px 20px; padding: 0; background-color: white; text-align: left; }
	#restorebox { position: absolute; top: 20px; left: 15%; border: 3px solid red; display: none; background: orange; color: #000000; font-weight: bold; padding: 15px; z-index: 1; }

	.domainrow { display: table-row; border: 2px solid gray; padding: 10px; }
	.domaincell { display: table-cell; font-family: "Trebuchet MS", Arial, Verdana; border: 1px solid gray; padding: 5px; vertical-align: top; }
	.logincell { display: table-cell; font-family: "Trebuchet MS", Arial, Verdana; padding: 5px; vertical-align: top; }
	.domain { font-family: "Trebuchet MS", Arial, Verdana; font-weight: bold; text-align:left; width: 408px;}

	.login { text-align: center; margin-top:20%; }

	.folder { margin: 0 0 5px 10px; }

	.bold { font-weight: bold; }
	.left { text-align: left; }
	.center { text-align: center; }
	.sleek { margin:0; padding:0; }

	.messagecontents {background-color:#fff; padding:8px; font-size:14px; font-family: "Trebuchet MS", Arial, Verdana; }


	/* rc splitter stuff */


	#mainscreen { position: absolute; top: 90px; right: 20px; bottom: 20px; left: 20px; margin-top: 5px; }

	#mailleftcontainer { position: absolute; top: 0; left: 0; bottom: 0; width: 195px; }
	#mailboxlist-container { position: absolute; top: 0; left: 0; width: 100%; bottom: 0; border: 1px solid #999; background-color: #F9F9F9; overflow-y: auto; overflow-x: hidden; }
	#mailboxlist { position:relative; height: auto; margin: 0px; padding: 0px; list-style-image: none; list-style-type: none; overflow: hidden; white-space: nowrap; background-color: #FFF; }
	#mailrightcontainer { position: absolute; top: 0; left: 170px; bottom: 0; right: 0; min-width: 400px; }
	#mailrightcontent { position: absolute; top: 0px; left: 0; right: 0; bottom: 0; }
	#mailcontframe { position: absolute; width: 100%; top: 0; bottom: 0; border: 1px solid #999999; background-color: #F9F9F9; overflow: hidden; }
	#mailpreviewframe { position: absolute; width: 100%; top: 205px; bottom: 0px; border: 1px solid #999999; background-color: #F9F9F9; }

	.boxlistcontent { position: absolute; top: 0px; bottom: 50px; left: 0; right: 0; width: 100%; overflow-y: auto; overflow-x: hidden; height: auto; }
	.boxfooter { position: absolute; bottom: 0px; left: 0px; right: 0px; overflow: hidden; border-top: 1px solid #999; }

	.splitter { user-select: none; -moz-user-select: none; -khtml-user-select: none; position: absolute; background: url(/view/theme/mobile/images/dimple.png) center no-repeat; }
	.splitter-h { cursor: n-resize; cursor: row-resize; background-position: center 2px; }
	.splitter-v { cursor: e-resize; cursor: col-resize; background-position: 2px center; }

	.message_highlight { background: lightblue; }

	.rc-handle-container { position: relative; }
	.rc-handle { position: absolute; width: 7px; cursor: ew-resize; margin-left: -3px; z-index: 2; }
	table.rc-table-resizing { cursor: ew-resize; }
	table.rc-table-resizing thead, table.rc-table-resizing thead > th, table.rc-table-resizing thead > th > a { cursor: ew-resize; }

}


