name: Build and test

on:
  pull_request:
    types:
      - opened # PR created
      - synchronize # commit pushed to PR
      - reopened # closed PR reopened

env:
  IMAGE_NAME: sutoj/piler
  TEST_TAG: test
  DISTRO: jammy
  PROJECT_ID: piler
  ARCH: arm64
  CONTAINER: piler
  RT: 1

jobs:
  build:
    runs-on:
      - self-hosted
      - ARM64

    outputs:
      IMAGE_TAG: ${{ steps.get-version.outputs.IMAGE_TAG }}
      COMMIT_ID: ${{ steps.get-version.outputs.COMMIT_ID }}
      VERSION: ${{ steps.get-version.outputs.VERSION }}
      PACKAGE: ${{ steps.build-package.outputs.PACKAGE }}

    steps:
      - uses: actions/checkout@v4

      - name: Get version
        id: get-version
        uses: ./.github/actions/version

      - name: Build package
        id: build-package
        uses: ./.github/actions/build
        with:
          ARCH: ${{ env.ARCH }}
          COMMIT_ID: ${{ steps.get-version.outputs.COMMIT_ID }}
          DISTRO: ${{ env.DISTRO }}
          DOCKER_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKER_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
          IMAGE_NAME: ${{ env.IMAGE_NAME }}
          PROJECT_ID: ${{ env.PROJECT_ID }}
          TEST_TAG: ${{ env.TEST_TAG }}
          VERSION: ${{ steps.get-version.outputs.VERSION }}

  run-tests:
    runs-on:
      - self-hosted
      - ARM64

    needs:
      - build

    steps:
      - uses: actions/checkout@v4

      - name: Run tests
        uses: ./.github/actions/test
        with:
          ARCH: ${{ env.ARCH }}
          ARCHIVE_HOST: ${{ vars.ARCHIVE_HOST }}
          CONFIG_SITE_PHP: ${{ vars.CONFIG_SITE_PHP }}
          EML_DIR: ${{ vars.EML_DIR }}
          SMTP_SOURCE_PROG: ${{ vars.SMTP_SOURCE_PROG }}
          SMTP_HOST: ${{ vars.SMTP_HOST }}
          TEST_TAG: ${{ env.TEST_TAG }}
