name: Build and test

on:
  pull_request:
    types:
      - opened # PR created
      - synchronize # commit pushed to PR
      - reopened # closed PR reopened

env:
  IMAGE_NAME: sutoj/piler
  TEST_TAG: test
  DISTRO: jammy
  PROJECT_ID: piler
  ARCH: arm64
  CONTAINER: piler
  RT: 1

jobs:
  build:
    runs-on:
      - self-hosted
      - ARM64

    outputs:
      IMAGE_TAG: ${{ steps.generate-version.outputs.IMAGE_TAG }}
      VERSION: ${{ steps.generate-version.outputs.VERSION }}
      PACKAGE: ${{ steps.build-package.outputs.PACKAGE }}

    steps:
      - uses: actions/checkout@v4

      - name: Set version tag
        id: generate-version
        run: |
          read -r VERSION < VERSION
          COMMIT_ID="$( git rev-parse --short HEAD )"
          IMAGE_TAG="${VERSION}-${COMMIT_ID}"

          echo "image tag: $IMAGE_TAG"
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_OUTPUT
          echo "COMMIT_ID=$COMMIT_ID" >> $GITHUB_ENV
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
        shell: bash

      - name: Build package
        id: build-package
        uses: ./github/actions/build
        with:
          ARCH: ${{ env.ARCH }}
          COMMIT_ID: ${{ env.COMMIT_ID }}
          DISTRO: ${{ env.DISTRO }}
          IMAGE_NAME: ${{ env.IMAGE_NAME }}
          PROJECT_ID: piler
          TEST_TAG: ${{ env.TEST_TAG }}
          VERSION: ${{ env.VERSION }}

  run-tests:
    runs-on:
      - self-hosted
      - ARM64

    needs:
      - build

    steps:
      - uses: actions/checkout@v4

      - name: Destroy all containers
        run: |
          pushd docker
          # Fix compose file
          sed -i 's/^volumes:/  imap.aaa.fu:\n    image: sutoj\/imap\n    container_name: imap.aaa.fu\n\nvolumes:/' docker-compose.yaml
          docker compose down -v || true
          popd
        shell: bash

      - name: Start containers
        run: |
          export VERSION=${{ env.TEST_TAG }}-${{ env.ARCH }}
          pushd docker
          docker compose pull piler
          docker compose up -d
          i=0
          while [[ "$(docker inspect -f '{{.State.Health.Status}}' "$CONTAINER")" != "healthy" ]]; do
            i=$((i+1))
            sleep 2
            if [[ $i -gt 45 ]]; then
              "sleep is still not running inside ${CONTAINER}"
              exit 1
            fi
          done
          docker compose ps
          popd
        shell: bash
        env:
          ARCHIVE_HOST: ${{ vars.ARCHIVE_HOST }}

      - name: Remove stale images
        run: yes|docker image prune

      - name: Setup piler
        run: |
          ./tests/setup.sh
        shell: bash
        env:
          CONFIG_SITE_PHP: ${{ vars.CONFIG_SITE_PHP }}

      - name: Run tests
        run: |
          ./tests/run.sh
        shell: bash
        env:
          ARCHIVE_HOST: ${[ vars.ARCHIVE_HOST }}
          EML_DIR: ${{ vars.EML_DIR }}
          SMTP_SOURCE_PROG: ${{ vars.SMTP_SOURCE_PROG }}
          SMTP_HOST: ${{ vars.SMTP_HOST }}
