name: Build and test

on:
  pull_request:
    types:
      - opened # PR created
      - synchronize # commit pushed to PR
      - reopened # closed PR reopened

env:
  ARCHIVE_HOST: test1.acts.hu
  IMAGE_NAME: sutoj/piler
  TEST_TAG: test
  DISTRO: noble
  PROJECT_ID: piler
  ARCH: arm64
  CONTAINER: piler
  RT: 1

jobs:
  get-version:
    runs-on:
      - self-hosted
      - X64

    outputs:
      IMAGE_TAG: ${{ steps.get-version.outputs.IMAGE_TAG }}
      COMMIT_ID: ${{ steps.get-version.outputs.COMMIT_ID }}
      VERSION: ${{ steps.get-version.outputs.VERSION }}

    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            VERSION
            .github
          sparse-checkout-cone-mode: false

      - name: Get version
        id: get-version
        uses: ./.github/actions/version

  build:
    needs:
      - get-version

    runs-on:
      - self-hosted
      - ARM64

    outputs:
      PACKAGE: ${{ steps.build-package.outputs.PACKAGE }}

    steps:
      - uses: actions/checkout@v4

      - name: Build package
        id: build-package
        uses: ./.github/actions/build/package
        with:
          ARCH: ${{ env.ARCH }}
          COMMIT_ID: ${{ needs.get-version.outputs.COMMIT_ID }}
          DISTRO: ${{ env.DISTRO }}
          IMAGE_NAME: ${{ env.IMAGE_NAME }}
          PROJECT_ID: ${{ env.PROJECT_ID }}
          VERSION: ${{ needs.get-version.outputs.VERSION }}

  run-tests:
    runs-on:
      - self-hosted
      - ARM64

    needs:
      - get-version
      - build

    steps:
      - uses: actions/checkout@v4

      - name: Download packages
        uses: actions/download-artifact@v4
        with:
          name: package-${{ env.ARCH }}
          path: docker

      - name: Build image
        uses: ./.github/actions/build/image
        with:
          DOCKER_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKER_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
          IMAGE_NAME: ${{ env.IMAGE_NAME }}:${{ env.TEST_TAG }}
          LOAD: true
          PACKAGE: ${{ env.PROJECT_ID }}_${{ needs.get-version.outputs.VERSION }}-${{ env.DISTRO }}-${{ needs.get-version.outputs.COMMIT_ID }}
          PLATFORMS: 'linux/arm64'
          PUSH: false

      - name: Run tests
        uses: ./.github/actions/test
        with:
          ARCHIVE_HOST: ${{ env.ARCHIVE_HOST }}
          CONTAINER: 'piler'
          TEST_TAG: ${{ env.TEST_TAG }}
